<div id="spree-header">
  <header>
    <div class="menu content">
      <div class="menu-top">
        <div class="mobile-action" onclick="ShowMenu()">
          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </div>
        <%= image_tag('logo.png') %>
        <%= render partial: 'spree/shared/nav_bar' %>
      </div>
      <%= render partial: 'spree/shared/main_nav_bar' if store_menu? %>
    </div>
  </header>
</div>
