
<div id="menu-mobile" class="menu-bottom">
  <nav class="main-menu">
    <li><%= link_to Spree.t(:home), spree.root_path %></li>
    <li>Categoria 2</li>
    <li>Categoria 3</li>
    <li>Categoria 4</li>
  </nav>
  <div class="links">
    <%= link_to_cart %>
    <a href="#">
      <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
      <b>Encontre sua armação</b>
    </a>
  </div>
</div>
